export const BASE_URL = process.env.BASE_URL ?? 'http://localhost:5173';

export const credentials = {
  validUser: {
    email: 'email@example.com',
    password: 'password',
  },
  invalidUser: {
    email: 'bademail@example.com',
    password: 'password',
  },
} as const;
